OLLAMA_URL=http://localhost:11434
OLLAMA_MODEL=llama3.2
OLLAMA_TIMEOUT_SECONDS=300
TELEGRAM_BOT_TOKEN=pon_aqui_tu_token_de_botfather
TELEGRAM_CHANNEL_ID=@tu_canal_o_id
TELEGRAM_ADMIN_USER_ID=tu_user_id_telegram
DAILY_POST_DAYS=mon,wed,fri
DAILY_POST_HOUR=9
DAILY_POST_MINUTE=0
TZ=Europe/Madrid


